
a img { border:none; }

body {
	font-family:Frutiger,"Frutiger Linotype",
					Univers,Calibri,
					"Gill Sans","Gill Sans MT",
					"Myriad Pro",Myriad,
					"DejaVu Sans Condensed",
					"Liberation Sans",
					"Nimbus Sans L",
					Tahoma,Geneva,
					"Helvetica Neue",
					Helvetica,
					Arial,
					sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #666;
}

h1, h1 a:link, h1 a:visited, h1 a:active, h1 a:active {
	font-size: 36px;
	letter-spacing: -3px;
	font-family: georgia;
	text-decoration: none;	
	margin-bottom: 30px;
	color: #000000;
}

.day .c ul{
	list-style-type: disc;
	list-style-image:url();

}

.day ul{
	margin-left: 20px;
	list-style-image:url("http://img.bockcay.de/star.gif");
}

.actions, .mactions, #tagline{

display: inline;
}

.c a{
	text-decoration: none;
	color: #6699ff;
}

.k a{
	font-size: 70%;
	color: #3f3f41;
	text-decoration: none;
	font-style:italic;
}

a:hover {
	text-decoration: underline;
}

blockquote {
display: block;
font-style: italic;
}