
li{
list-style-type: none;
margin-bottom: 3px;
}

.c a{
text-decoration: none;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: gray;
}


.c a:hover
{
text-decoration: none;
background-color: #0292cc;
background-image: none;
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
color: #ffffff;
}

span.k a{
	font-size: 70%;
	color: #3f3f41;
	text-decoration: none;
	font-style:italic;
}

blockquote {
display: block;
font-style: italic;
}

